/client-py/
*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.vc.opendb
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.coverage
.cproject
.dir-locals.el
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.projectile
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
child_pool-0.profraw
child_pool-1.profraw
child_pool-2.profraw
child_pool-3.profraw
default.profraw
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
TAGS
Plugins/*
Contrib/nsis7z/CPP/7zip/Bundles/Nsis7z/.vs/
Contrib/nsis7z/CPP/7zip/Bundles/Nsis7z/Release/
Contrib/nsis7z/CPP/7zip/Bundles/Nsis7z/Debug/
Contrib/nsis7z/CPP/7zip/Bundles/Nsis7z/x64/
Contrib/nsis7z/CPP/7zip/Bundles/Alone/.vs/
Contrib/nsis7z/CPP/7zip/Bundles/Alone/Release/
Contrib/nsis7z/CPP/7zip/Bundles/Alone/Debug/
Contrib/nsis7z/CPP/7zip/Bundles/Alone/x64/